<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Successful order
	</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/gridly/1.1.0/gridly.min.css'>
	<link rel="stylesheet" href="/static/sucess.css">

</head>

<body>
	<!-- partial:index.partial.html -->
	<div class="card">
		<div class="ilustration">
			<lottie-player src="https://assets10.lottiefiles.com/packages/lf20_LrcfNr.json" background="white" speed="1"
				loop autoplay></lottie-player>
		</div>
		<h3>УСПЕШНО</h3>
		<p>Спасибо, . Мы получили ваш заказ, и это прекрасно. Мы прилагаем все усилия, чтобы доставить его вам.</p>
	</div>
	<!-- partial -->
	<script src='https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js'></script>
</body>

</html>