body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #e0e0e0;
    padding-bottom: 60px;
    background-image: url("./Image/back_body.jpg");
    background-size: cover;
    /* Покрывает весь экран */
    background-repeat: no-repeat;
    /* Не повторяет изображение */
    background-attachment: fixed;
    /* Фиксирует изображение при скроллинге */
    background-position: center;
    /* Выравнивает изображение по центру */

}

.container {
    max-width: 1200px;
    margin: 0rem auto;
    padding: 0 1rem;
    position: relative;
}

h2 {
    color: #ffffff;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    margin-bottom: 1rem;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 0.5rem;
    margin-left: 10px;
    display: inline-block;
    font-size: 1.5rem;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.product-card {
    width: 170px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.product-image {
    display: block;
    width: 100%;
    height: 120px;
    object-fit: contain;
    /* Изменено с cover на contain для полного вмещения изображения */
}


.product-info {
    padding: 1rem;
}

.product-name {
    font-weight: bold;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
}

.add-to-cart,
.quantity-input {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.8rem;
    width: 100%;
    box-sizing: border-box;
}

.add-to-cart:hover {
    background-color: #45a049;
}

.quantity-input {
    background-color: #333;
    text-align: center;
}

.quantity-input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #4CAF50;
}

.cart-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: none;
    border-radius: 40px;
    margin-bottom: 10px;
}

.cart-button:hover {
    background-color: #45a049;
}

.cart-icon {
    width: 24px;
    height: 24px;
    fill: white;
    vertical-align: middle;
    margin-right: 10px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #26054E;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.cart-item img {
    width: 70px;
    height: 60px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 5px;
    object-fit: contain;
}

.cart-item-info {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item-name {
    font-weight: bold;
}

.cart-quantity-input {
    width: 60px;
    text-align: center;
    background-color: #333;
    color: #fff;
    border: 1px solid #4CAF50;
    border-radius: 3px;
    padding: 5px;
}

.cart-category {
    margin-bottom: 20px;
}

.cart-category h3 {
    color: #ffffff;
    border-bottom: 1px solid #4CAF50;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.checkout-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
}

.checkout-button:hover {
    background-color: #45a049;
}

/* Стили для навигационной панели */
.nav-panel {
    background-color: #6c6798;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-panel a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.nav-panel a:hover {
    text-decoration: underline;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.H-checkout-button {
    background-color: transparent;
    color: #fff;
    border: 0.5px solid #679888;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
}

.H-checkout-button:hover {
    background-color: #45a049;
}

input[type="date"],
[type='text'] {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
    padding: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    width: 50%;
    border-radius: 5px;
    height: 40px;
}

.modal-content h4 {
    color: #ffffff;
    border-bottom: 1px solid #4CAF50;
    height: 16px;
    margin-bottom: 10px;

}

::-webkit-calendar-picker-indicator {
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

/* Контейнер для модального окна */
#historyModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

/* Контейнер для истории заказов */
#historyContent {
    background-color: transparent;
    margin: auto;
    padding: 5px;
    /* Уменьшено для сокращения расстояния */
    width: 95%;
    /* Занимает почти всю ширину окна */
    max-width: 800px;
    /* Максимальная ширина для более крупных экранов */
}

/* Стили для каждого блока заказа */
.order-block {
    background-color: rgba(255, 255, 255, 0.2);
    /* Более полупрозрачный белый фон */
    margin-bottom: 10px;
    /* Уменьшено расстояние между блоками */
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgba(230, 230, 230, 0.3);
    /* Более полупрозрачная граница */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    /* Занимает всю ширину модального окна */
    box-sizing: border-box;
    /* Учтена граница и padding в ширине */
}


/* Заголовок заказа */
.order-block h3 {
    font-size: 1.2em;
    margin: 0 0 5px;
    /* Уменьшено для сокращения расстояния */
    color: #ffffff;
    border-bottom: 2px solid #d9e397;
    padding-bottom: 5px;
}

/* Список для категорий продуктов */
.order-block ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Заголовок категории продуктов */
.category-header {
    font-weight: bold;
    font-size: 1em;
    margin-top: 10px;
    color: #d9e397;
    margin-bottom: 10px;
}

/* Элемент списка продукта, позиционируется по флексу */
.product-item {
    display: flex;
    margin-left: 15px;
    justify-content: space-between;
    margin-bottom: 5px;
    font-size: 0.95em;
    color: #ffffff;
    padding-left: 0;
    /* Название товара у левого края */
}

.product-item::before {
    content: '';
}

/* Количество товара, выравнивается по правому краю */
.product-item .product-quantity {
    font-weight: bold;
    margin-left: auto;
}



