/*5 Minutes Challenge*/
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap");

body {
  background-image: url("/Image/back_body.jpg");
  background-size: cover;
  /* Покрывает весь экран */
  background-repeat: no-repeat;
  /* Не повторяет изображение */
  background-attachment: fixed;
  /* Фиксирует изображение при скроллинге */
  background-position: center;
  /* Выравнивает изображение по центру */
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #eceff1;
  border-radius: 30px;
  text-align: center;
  padding: 15px;
  width: 70%;
  height: 60%;
  max-width: none;
  box-shadow: 5px 5px 5px #e6eaed, -5px -5px 5px #f2f4f5;
}

.card .ilustration {
  margin: 30px;
}

.card .ilustration lottie-player {
  width: 350px;
  height: 350px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 20px 20px 20px #e6eaed, -20px -20px 20px #f2f4f5;
}

.card h3 {
  font-family: "Fredoka", sans-serif;
  font-size: 3rem;
  line-height: 2.2rem;
  color: #1d2428;
  font-weight: bold;
  margin: 30px 0;
}

.card p {
  font-family: "Fredoka", sans-serif;
  font-size: 2rem;
  line-height: 1.3rem;
  color: #5e7280;
  margin: 30px auto;
  max-width: 80%;
}

.card button {
  font-family: "Fredoka", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 15px 80px;
  border-radius: 25px;
  color: white;
  border: 0;
  margin: 30px 0;
  outline: none;
  background-color: #81c784;
  box-shadow: 10px 10px 10px rgba(122, 196, 125, 0.2), -10px -10px 10px rgba(136, 202, 139, 0.2);
  transition: ease all 0.3s;
  cursor: pointer;
}

.card button:hover {
  box-shadow: 20px 20px 20px rgba(122, 196, 125, 0.1), -20px -20px 20px rgba(136, 202, 139, 0.1);
  transform: translateY(-3px);
}

.card button:active {
  transform: scale(0.9);
  box-shadow: inset -1px -1px 3px rgba(122, 196, 125, 0.3), -20px -20px 20px rgba(136, 202, 139, 0);
}